* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: initial;
  overflow: auto;
  padding: 0 20px;
}

#navbar {
  background: #a1887f;
  color: #fff;
  overflow: auto;
  flex: content;
}

#navbar a {
  color: #fff;
}

#navbar h2 {
  float: left;
  padding-top: 20px;
  font-size: medium;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #715a52;
  color: #d1b7ad;
}
#hero-container {
  /* background-image: url(https://scontent.fkiv7-1.fna.fbcdn.net/v/t39.30808-6/302443947_8658147890877708_3807237448757500220_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0debeb&_nc_ohc=mYiJRXE6OlAAX8dFeHx&_nc_ht=scontent.fkiv7-1.fna&oh=00_AfD9AQguswx6Ivqbz6_f-iJACj-QNsocX4VmUoC7vCRYPg&oe=6390BEBB); */

  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero-container #title {
  font-size: 4rem;
  font-weight: 800;
  color: #a0877e;
}

#hero-container #description{
  font-size: larger;
  font-weight: 600;
  color: #a0877e;
  margin-block: 2rem;
}

#hero-container #read-more-button {
  margin-top: 12px;
  padding: 18px;
  color: #715a52;
  font-size: larger;
  border-radius: none;
  background-color: #fff;
  border-style: solid;
  border-color: #a0877e;
}
#hero-container #read-more-button:hover {
  background: #a0877e;
  color: #fff;
  cursor: pointer;
}
#about-container {
  width: auto;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
#about-container #title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #a0877e;
  margin-top: 5rem;
  padding: 12px

}
#about-container #photo-and-description {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12rem;
  margin: 8rem;
  
}
#about-container #photo-and-description #description {
  font-size: larger;
  font-weight: 600;
  color: #a0877e;
 
}
#about-container #read-more-button {
  margin-top: 12px;
  padding: 18px;
  color: #715a52;
  font-size: larger;
  border-radius: none;
  background-color: #fff;
  border-style: solid;
  border-color: #a0877e;
}
#about-container #read-more-button:hover {
  background: #a0877e;
  color: #fff;
  cursor: pointer;
}