* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #fff;
  text-decoration: none;
  max-width: max-content;
}

.logo {
  font-size: large;
  font-weight: 800;
  display: flex;
}

.navbar {
  height: 80px;
  display: flex;
  padding: 0 20px;
  background: #a1887f;
  font-size: large;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding-block: 0 0;
}

.nav-links-container {
  font-weight: 600;
  display: flex;
  list-style: none;
  justify-content: center;
}
.nav-link {
  margin-left: 20px;
}

.nav-link:hover {
  background: #715a52;
  color: #d1b7ad;
  cursor: pointer;
}
