* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 4em;
}

.hero-container {
  /* background-image: url(https://scontent.fkiv7-1.fna.fbcdn.net/v/t39.30808-6/302443947_8658147890877708_3807237448757500220_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0debeb&_nc_ohc=mYiJRXE6OlAAX8dFeHx&_nc_ht=scontent.fkiv7-1.fna&oh=00_AfD9AQguswx6Ivqbz6_f-iJACj-QNsocX4VmUoC7vCRYPg&oe=6390BEBB); */
  background-size: cover;
  opacity: initial;
  width: auto;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  color: #a0877e;
}

.description {
  font-size: larger;
  font-weight: 600;
  color: #a0877e;
}

.read-more-button {
  margin-top: 12px;
  padding: 18px;
  color: #715a52;
  font-size: larger;
  border-radius: none;
  background-color: #fff;
  border-style: solid;
  border-color: #a0877e;
}
.read-more-button:hover {
  background: #a0877e;
  color: #fff;
  cursor: pointer;
}
